// Comentarios para html
//- Comentarios para pug, no se procesan.
//- Títulos de página y página inicial
- var page_title ="Inicio por defecto";
- var page = "MiEmpresa";

//- Paginas 
- var pagina_actual = "";

//- Datos generales
- var email = "elemail@laempresa.com";
- var slogan = "El slogan bonito de la empresa"; 
- var empresa = "Suempresa";