.col.p3.bg-dark
  .row
    .col-md-2.offset-lg-1
      p.lead Dirección 1 
      .address Ed. Bogotá  <br> Bogotá D.C Colombia  <br> Tel: +57 (1) 123 45678  <br> Código Postal 110010 <br>
    .col-md-2 
      p.lead Dirección 2
      .address Ed. Bogotá  <br> Bogotá D.C Colombia  <br> Tel: +57 (1) 123 45678  <br> Código Postal 110010 <br>
    .col-md-2 
      p.lead Dirección 3 
      .address Ed. Bogotá  <br> Bogotá D.C Colombia  <br> Tel: +57 (1) 123 45678  <br> Código Postal 110010 <br>
    .col-md-2 
      p.lead Dirección 4 
      .address Ed. Bogotá  <br> Bogotá D.C Colombia  <br> Tel: +57 (1) 123 45678  <br> Código Postal 110010 <br>
    nav.col-md-3.border-start.pl-2.pt-3  
      ul.list-unstyled 
        li
          a.btn.text-white.text-start.link-hover(href="contacto.html") Contacto 
        li 
          a.btn.text-white.text-start.link-hover(href="#") link 1
        li 
          a.btn.text-white.text-start.link-hover(href="#") link 2
        li 
          a.btn.text-white.text-start.link-hover(href="#") link 3
  .row.border-bottom 
  .row
    .col.p-3.align-items-center.bg-marca
      .row 
        //- Logo en negativo
        .col-md-1 
          img.img-fluid(src="/dist/assets/img/logo-negativo.svg" alt="Logo empresa en negativo" style="height:50px")
        //- Copy right
        .col-md-6    
          p 2021 Todos los derechos reservados &copy; Copyright Suempresa - Aquí la ciudad Colombia <br />  Web creada con y con y otra más - theme basado en Bootstrap - Íconos de Font Awesome y fuentes de Google Fonts
        //- Personalizar las redes sociales
        .col-md-2.text-end 
          span Síguenos en redes sociales 
        .col-md-3
          .btn-group.my-sm-1
            a.btn.btn-marca-oscuro.ms-1(href="https://www.instagram.com/" title="Síguenos en Instagram")
              span.fa-brands.fa-2x.fa-instagram 
            a.btn.btn-marca-oscuro.ms-1(href="https://linkedin.com" title="Síguenos en Linkedin")
              span.fa-brands.fa-2x.fa-linkedin  
          .btn-group.my-sm-1 
            a.btn.btn-marca-oscuro.ms-1(href="https://www.facebook.com/" title="Síguenos en Facebook") 
              span.fa-brands.fa-2x.fa-facebook 
            a.btn.btn-marca-oscuro.ms-1(href="https://twitter.com" title="Síguenos en Twitter")
              span.fa-brands.fa-2x.fa-twitter 