.container.mt-1.mb-1
  .row 
    .col-md-6
      h1.h6.mt-1 
        small #{slogan} 
    .col-md-3.mb-sm-2 
      a(href="mailto:" + email ) <small> #{email} </small>
    .col-md-3
      .form 
        .row
          .col-8  
            input.form-control.form-control-sm.me-sm-2(type="search" placeholder="Buscar" aria-label="Buscar")
          .col-4 
            button.btn.btn-outline-secondary.form-control-sm.me-sm-2.my-sm-0(type="submit" value="Buscar en la web" name="buscador" aria-label="Buscar" id="btn_buscador" alt="Buscador") <span alt="Boton buscador" class="fa fa-search"> 